<template>
  <div class="charts">
    <div :style="{backgroundImage:'url(../assets/background.png)',width:'1000px',height:'1000px'}">
      <div :style="{backgroundImage:'url(./static/images/pic-2.png)',width:'1620px',height:'146px',marginLeft:'160.5px',marginTop:'0px'}">
        <div class="case_title">大屏后台操作</div>
      </div>
      <div class="grid">
        <div class="item1"><card/>
          <div>
            <el-button class="el-button" type="text">修改销量数据</el-button>
          </div>
          <div>
            <el-button class="el-button" type="text" @click="up(10000)">上涨10000</el-button>
          </div>
          <div>
            <el-button class="el-button" type="text" @click="down(10000)">下降10000</el-button>
          </div>
          <div>
            <el-button class="el-button" type="text" @click="handleEdit()">修改数据</el-button>
            <el-input v-model="val"></el-input>
          </div>
          <div>
            <el-button class="el-button" type="text" @click="insert()">插入100条订单数据</el-button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  import { modifyData,getSale,addData,downData,insertData } from '../api/api';
  export default {
  name:'HelloWorld',
  data () {
    return {
      val:0
    }
  },
    mounted:function(){
      this.getAll()
    },
    methods:{
      getAll(){
            getSale().then(res=>{
              console.log(res)
              this.val = res.data.result.sale
            })
      },
      handleEdit:function (){
        let params={
          value:this.val
        }
        console.log(params)
        modifyData(params).then((res)=>{
          console.log(res)
          this.$message({
            message: '修改成功',
            type: 'success'
          });
        })
      },
      up(){
        let params={
          value:10000
        }
        addData(params)
      },
      down(){
        let params={
          value:10000
        }
        downData(params)
      },
      insert(){
        let params={
          value:100
        }
        insertData(params)
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  /*.charts{*/
    /*height: auto;*/
    /*width: auto;*/
  /*}*/
  .img1{
    width: 100px;
    height: 100px;
    background: url('/../assets/background.png') center center no-repeat;
    background-size: 100px auto;
  }
  .case_title{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 690px;
    margin-bottom: 0.625rem;
  }
</style>
